<% if User.all == [] %>
<h3> There are no users. <a href="/users/new">Sign up here</a> </h3>
<% else %>
<h3> Log in below </h3>
<% end %>

<%= form_for :user, url: '/login' do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br />
  
    <%= f.label :password %>:
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation %>:
    <%= f.password_field :password_confirmation %><br />
  
    <%= f.submit "Login" %>
<% end %>